<div class="container">
     <div class="row d-flex justify-content-center">
     <div class="col-sm-12">
               <h2>Add A New Muggle Blog Entry</h2>
          </div>
     </div>
     <div class="row d-flex justify-content-center">
     <div class="col-sm-12">
               <p>Muggle Blog Title: </p>
          </div>
          <div class="input-field col s12">
               <input placeholder="Title" id="post-title" name="post-title" type="text"> 
          </div>
     </div>
     <div class="row d-flex justify-content-center">
     <div class="col-sm-12">
               <p>Muggle Blog Body: </p>
          </div>
          <div class="col-sm-12">
               <textarea id="post-text" name="post-text" class="materialize-textarea" placeholder="Add Muggle Blog post here"></textarea>
          </div>
     </div>
     <div class="row">
          <div class="col-sm-3">
              <button class="btn btn-warning" id=".new-post-form">
                    <i class="material-icons left">done</i>Submit Muggle Blog to Site
               </button> 
          </div>
     </div>
</div>

<script src="/javascript/add-post.js"></script>