<div class="row d-flex justify-content-center">
     <div class="col-sm-12">
         <h2>Your one-stop-broom-shop for all thing tech in the Muggle World!</h2> 
     </div>
     <div class="col-sm-12">
          <h3>Fascinating Finds: </h3>  
     </div>    
</div>
<div class="row">
     {{#each posts}}
     <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
            <p class="card-text">
              By
              {{user.username}}
              on
              {{format_date created_at}}
            </p>
            <a href="/api/posts/{{id}}">Curious minds inquire within</a>
                    </div>
               </div>
          </div>
     </div>
     {{/each}}
</div>

