<div class="row d-flex justify-content-center">
     <div class="col-sm-12">
          <h2>Wizards must be logged in to view Muggle Tech. File your account request here</h2>
          <a id="register-btn">File</a>
     </div>
</div>
<div class="row d-flex justify-content-center">
     <div class="col-sm-12">
          <div class="col-sm-12 m-6">
               <p>Username: </p>
               <input placeholder="Username" id="username-login" type="text">
          </div>
          <div class="input-field col s12 m6">
               <p>Password: </p>
               <input placeholder="Password" id="password-login" type="password" class="validate">
          </div>
     </div>
     </div>
     <div class="row">
          <div class="col-sm-3">
               <button class="btn btn-warning" id="login-submit-button">
                    <i class="material-icons left">send</i>File
               </button>
          </div>
     </div>
</form>

<script src="/javascript/login.js"></script>