<h2 class="page-title justify-content-center">File for account access to Muggle Tech here.</h2>
<form class="col s12">
     <div class="row">
          
          <div class="col-sm-12">
               <p>Username: </p>
               <input placeholder="Username" id="username-signup" type="text" class="validate">
          </div>
          <div class="col-sm-12">
               <p>Email Address: </p>
               <input placeholder="Email" id="email-signup" type="text" class="validate">
          </div>
          <div class="col-sm-12 m-6">
               <p>Password: </p>
               <input placeholder="Password" id="password-signup" type="password" class="validate">
          </div>
     </div>
     </div>
     <div class="row">
          <div class="col-sm-39">
               <button class="btn btn-warning" id="register-submit-button">
                    <i class="material-icons left">send</i>File
               </button>
          </div>
     </div>
</form>

<script src="/javascript/signup.js"></script>